$base-width: 45%; // Base width for images
$new-width:40%;
$extra-width: 5%; // Extra width to adjust dynamically
$base-height: 500px; // Base height for the images
$new-height:400px;
$extra-height: 100px; // Extra height to add for a taller chart
$base-gap: 30px; // Base gap between charts
$extra-gap: 10px; // Extra gap to add dynamically